body {
    width: 100%;
    height: 100%;
    background: #ffffff;
}
.container {
    grid-template-areas:
    "header header header header"
    "side side main main"
    "side side main main";
    justify-content: center;
}
.container-title {
    grid-area: header;
}
.container-img {
    display: grid;
    grid-area: side;
    align-items: center;
}
img {
    width: 100%;
    max-width: 600px;
    justify-content: center;
}
.container-box {
    display: grid;
    grid-area: main;
    width: 100%;
    height: 80vh;
    align-items: center;
    align-content: center;
}
.title_message-404 {
    font-size: 6.2rem;
}