.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}
.bigicon {
    font-size: 35px;
    color: #36A0FF;
}
.container__form_contacto {
    margin-top: 20px;
    margin-bottom: 30px;
}
.form-group {
    margin-top: 15px;
    margin-bottom: 10px;
    justify-content: center;
}
