.div__container_products,
.a__categorias_products,
.div__cards_products,
.p__products_information {
    font-size: var(--letter-large);
    font-family: var(--font-letter);
    font-weight: var(--font-weight-letter-regular);
    text-align: justify;
}
.p__products_information {
    font-size: var(--letter-medium);
}
.a__categorias_products {
    font-size: var(--title-ex);
}
.nav-link {
    color: var(--color-nav-link) ;
}
.nav-link:hover {
    color: var(--color-nav-li-hover);
}
.img__card_productos {
    height: 450px;
}
@media screen and (max-width: 1224px) {
    .img__card_productos {
        height: 350px;
    }
}
@media screen and (max-width: 568px) {
    .img__card_productos {
        height: auto;
    }
}
