main {
    .main__section_index {
        .container__carrucel {
            width: 100%;
            height: 30vw;
            margin-top: 15px;
        }
        .img__carrucel {
            @extend .container__carrucel;
            margin-top: 0px;
        }
    }
    .container__img-index {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: 70px;
        align-items: center;
        .h2_text-gallery {
            margin-top: 10px;
            margin-bottom: 15px;
            @include letter-h-p($title-haiger,$font-title,$font-weight-title-medium,$color-text);
        }
        .div___container-gallery {
            display: grid;
            grid-template-areas:
            "primerafila"
            "segundafila";
            width: 90%;
            height: auto;
            .div__gallery-img {
                grid-area: primerafila;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: 1fr 0.5fr;
                grid-column-gap: 10px;
                grid-row-gap: 10px;
                margin-top: 15px;
                .img__gallery-index {
                    width: 100%;
                    height: -webkit-fill-available;
                    border-radius: 10px;
                }
                .img-caja1  {
                    grid-area: 1 / 1 / 3 / 2;
                }
                .img-caja2 { grid-area: 1 / 2 / 2 / 4;
                }
                .img-caja3 { grid-area: 2 / 2 / 3 / 3;
                }
                .img-caja4  { grid-area: 2 / 3 / 3 / 4;
                }
                .img-caja5  {
                    grid-area: 1 / 4 / 3 / 5;
                }
            }
            .div__gallery_img2 {
                grid-area: segundafila;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: 10px;
                margin-top: 10px;
                .img__gallery-index {
                    width: 100%;
                    height: -webkit-fill-available;
                    border-radius: 10px;
                }
                .img-caja6 { grid-area: 1 / 1 / 2 / 2; }
                .img-caja7 { grid-area: 1 / 2 / 2 / 3; }
                .img-caja8  { grid-area: 1 / 3 / 2 / 4; }
            }
        }
    }
    .div__section-presentation {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
        .h2__section-presentation {
            margin-top: 40px;
            margin-bottom: 15px;
            @include letter-h-p($title-haiger,$font-title,$font-weight-title-regular,$color-text);
        }
        .container__section-presentation {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: auto;
            justify-content: space-around;
            .div__container_presentation {
                display: flex;
                flex-direction: column;
                width: 45%;
                .h3__section-presentation {
                    margin-top: 15px;
                    @include letter-h-p($title-large,$font-title,$font-weight-title-medium,$color-text);
                }
                .p__container-presentation {
                    @extend .h2__section-presentation;
                    margin-left: 15px;
                    margin-bottom: 50px;
                    text-align: justify;
                    font-size: $letter-large;
                    font-family: $font-letter;
                    font-weight: $font-weight-letter-light;
                }
            }
        }
    }
}

@media screen and (max-width: 746px){
    main {
        .main__section_index {
            .container__carrucel {
                height: 60vw;
            }
            .img__carrucel {
                height: 60vw;
            }
        }
        .container__img-index {
            .div___container-gallery {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                .div__gallery-img {
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(3, 0.5fr);
                    grid-column-gap: 10px;
                    grid-row-gap: 10px;
                    .img-caja1 {
                        grid-area: 1 / 1 / 3 / 2;
                        height: -webkit-fill-available;
                    }
                    .img-caja2 {
                        grid-area: 1 / 2 / 2 / 3;
                    }
                    .img-caja3 {
                        grid-area: 2 / 2 / 3 / 3;
                    }
                    .img-caja4 {
                        grid-area: 3 / 1 / 4 / 3;
                        height: 200px;
                    }
                    .img-caja5 {
                        display: none;
                    }
                }
                .div__gallery_img2 {
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: 1fr;
                    grid-column-gap: 10px;
                    grid-row-gap: 10px;
                    .img-caja6 {
                        display: none;
                    }
                    .img-caja7 {
                        grid-area: 1 / 1 / 2 / 2;
                    }
                    .img-caja8 {
                        grid-area: 1 / 2 / 2 / 3;
                    }
                }
            }
        }
        .div__section-presentation {
            .container__section-presentation {
                flex-direction: column;
                align-content: center;
                .div__container_presentation {
                    width: 90%;
                }
            }
        }
    }
}

@media screen and (max-width: 425px){
    main {
        .main__section_index  {
            .container__carrucel {
                height: 80vw;
            }
            .img__carrucel {
                height: 80vw;
            }
        }
        .container__img-index {
            .h2_text-gallery {
                font-size: $title-ex;
            }
        }
        .div__section-presentation {
            .h2__section-presentation {
                font-size: $title-ex;
            }
            .container__section-presentation {
                .div__container_presentation {
                    .h3__section-presentation {
                        font-size: $title-large;
                    }
                    .p__container-presentation {
                        font-size: $letter-medium;
                    }
                }
            }
        }
    }
}