/* Corresponde al main de la section de navegación */
main {
    .section__main-servicios {
        width: 100%;
        height: auto;
        .div__section-servicios {
            display: flex;
            flex-direction: column;
            align-items: center;
            .div__section-ul {
                width: 95%;
                height: auto;
                .h1__section-servicios {
                    margin-top: 25px;
                    margin-bottom: 15px;
                    @include letter-h-p($title-haiger,$font-title,$font-weight-title-medium,$color-title);
                }
                .ul__section-li {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 10px;
                    gap: 12px;
                    @include letter-h-p($letter-large,$font-letter,$font-weight-letter-regular,$color-header-links);
                    border-bottom: 2px solid #666;
                    list-style: none;
                    li a {
                        text-decoration: none;
                        color: $color-letter-a;
                        span .material-symbols-outlined {
                            color: $color-header-links;
                        }
                    }
                    li a:hover {
                        text-decoration: none;
                        color: $color-nav;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1023px) {
    main {
        .section__main-servicios {
            .div__section-servicios {
                .div__section-ul {
                    .h1__section-servicios {
                        font-size: 4.8rem;
                    }
                    .ul__section-li {
                        font-size: $letter-medium;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 400px) {
    main {
        .section__main-servicios {
            .div__section-servicios {
                .div__section-ul {
                    .h1__section-servicios {
                        font-size: 3.8rem;
                    }
                }
            }
        }
    }
}
