main {
    .div__container_products,
    .a__categorias_products,
    .div__cards_products,
    .p__products_information {
        @include letter-h-p($letter-large,$font-letter,$font-weight-letter-regular,$color-text);
        text-align: justify;
    }
    .div__container_products {
        .a__categorias_products {
            font-size: $title-ex;
        }
        .nav-link {
            color: $color-nav-link;
        }
        .nav-link:hover {
            color: $color-nav-li-hover;
        }
    }
    .div__cards_products {
        .zoom-img {
            transition: transform .6s;
            .img__card_productos {
                height: 450px;
                object-fit: cover;
            }
        }
        .zoom-img:hover {
            transform: scale(1.04);
        }
    }
}
@media screen and (max-width: 1224px) {
    main {
        .div__cards_products {
            .img__card_productos {
                height: 350px;
            }
        }
    }
}
@media screen and (max-width: 568px) {
    main {
        .div__container_products {
            .a__categorias_products {
                font-size: $title-medium;
            }
            .nav-link {
                font-size: $title-small;
            }
        }
        .div__cards_products {
            .img__card_productos {
                height: auto;
            }
        }
    }
}