@import "mixin.scss";
main {
    .div__section-servicios-cart {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        .section__servicios {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 10px;
            width: 90%;
            height: auto;
            margin-top: 50px;
            margin-bottom: 110px;
            justify-content: space-around;
            .div_servicios {
                grid-area: 1 / 1 / 2 / 2;
                display: grid;
                width: 95%;
                height: auto;
                align-content: space-around;
                .h2__servicios {
                    @include letter-h-p($title-ex,$font-title,$font-weight-title-regular,$color-title);
                }
                .p__servicios {
                    @include letter-h-p($letter-large,$font-letter,$font-weight-letter-light,$color-letter);
                    margin-left: 5px;
                }
                .btn__servicios_concer-mas {
                    @include letter-h-p($letter-large,$font-letter,$font-weight-title-medium,$color-letter-card);
                    width: 60%;
                    height: 60px;
                    background-color: map-get($background-colors, c-cards-photos );
                    border: $color-btn-conocer-mas;
                    box-shadow: 0 0 6px #181719;
                    a {
                        text-decoration: none;
                        color: $color-letter-a;
                    }
                    a:hover {
                        color: $color-nav;
                    }
                }
                .btn__servicios_concer-mas:hover {
                    background-color: $color-btn-conocer-mas;
                }
            }
            .div__servicios-img {
                grid-area: 1 / 2 / 2 / 3;
                display: grid;
                justify-items: end;
                .img__servicios-cart {
                    width: 100%;
                    height: auto;
                }
                .div__cart-img {
                    display: grid;
                    position: absolute;
                    margin-top: 21%;
                    margin-right: 1%;
                    grid-template-columns: 0.5fr 1fr;
                    grid-template-rows: repeat(2, 0.1fr);
                    grid-column-gap: 10px;
                    width: 30%;
                    justify-items: start;
                    background-color: map-get($background-colors, c-cards-photos );
                    box-shadow: 0 0 6px #181719;
                    .div__cart_works {
                        grid-area: 1 / 1 / 2 / 2;
                        width: 100%;
                        height: auto;
                        .img__cart {
                            width: 90%;
                            height: auto;
                            margin-top: 6%;
                            margin-left: 6%;
                            border-radius: 50%;
                        }
                    }
                    .div__cart-description--work {
                        grid-area: 1 / 2 / 2 / 3;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        padding: 2%;
                        .h3__tittle-cart {
                            @include letter-h-p($title-large,$font-title,$font-weight-title-light,$color-letter-card);
                            margin-bottom: 0;
                        }
                        .p__tittle-cart {
                            @include letter-h-p($letter-medium,$font-letter,$font-weight-letter-light-italic,$color-letter-card);
                            margin-top: 5%;
                        }
                    }
                    .div__text-description--cart{
                        grid-area: 2 / 1 / 3 / 3;
                        padding: 2%;
                        .p__description-cart {
                            @include letter-h-p($letter-medium,$font-letter,$font-weight-letter-light-italic,$color-letter-card);
                            margin-left: 2.5%;
                            font-style: italic;
                            text-align: justify;
                        }
                    }
                }
            }
        }
    }
    .div__section-servicios-cart {
        .inversa__section_servicios {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 20px;
            .inversa__div_servicios {
                grid-area: 1 / 2 / 2 / 3;
            }
            .inversa__div_servicios-img {
                grid-area: 1 / 1 / 2 / 2;
                .inversa__div_cart-img {
                    margin-right: 13.5%;
                }
            }
        }
    }
    .div__section-map {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        .h2_tittle-map {
            @include letter-h-p($title-haiger,$font-title,$font-weight-title-medium,$color-title);
            width: 95%;
            margin-top: 50px;
            margin-bottom: 40px;
            text-align: center;
        }
        .iframe__map {
            width: 90%;
            height: 250px;
            margin-bottom: 50px;
        }
    }
}

@media screen and (max-width: 1224px) {
    main {
        .div__section-servicios-cart {
            .section__servicios {
                .div__servicios-img {
                    .div__cart-img {
                        width: 40%;
                        margin-top: 19%;
                        margin-right: 1%;
                    }
                }
            }
        }
        .div__section-servicios-cart {
            .inversa__section_servicios {
                .inversa__div_servicios-img {
                    .inversa__div_cart-img {
                        margin-right: 3.2%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px){
    main {
        .div__section-servicios-cart {
            .section__servicios {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(2, 0.5fr);
                .div_servicios {
                    grid-area: 1 / 1 / 2 / 2;
                    width: 100%;
                    margin-bottom: 30px;
                }
                .div__servicios-img {
                    grid-area: 2 / 1 / 3 / 2;
                    .div__cart-img {
                        width: 65%;
                        margin-top: 41%;
                        margin-right: 2%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 500px) {
    main {
        .div__section-servicios-cart {
            .section__servicios {
                width: 94.5%;
                margin-top: 60px;
                margin-bottom: 100px;
                .div_servicios {
                    margin-bottom: 30px;
                }
                .div__servicios-img {
                    .div__cart-img {
                        width: 85%;
                        margin-top: 43%;
                        margin-right: 2%;
                    }
                }
            }
        }
        .div__section-map {
            .h2_tittle-map {
                margin-top: 75px;
                font-size: $title-ex;
            }
        }
    }
}