@charset "UTF-8";
/* método get
$fuentes-size:(
    thin: 100,
    light: 300,
)
.gg: map-get($stilos, color)

@extend nombre clase;
backgroud: #666

Mixin
$mixin flex-direction-center($direction,$justify-center) {
    displey: flex;
    flex-direction: $direction;
    justify-content: $justify-center
    {

@include flex-direction-center($direction)




--No incluir en el proyecto

@each $key, $valor in $redes {
    .red-#($key){
        background-color: blue;
        font-siza: 2rem;
    }
}

@mixin redes(#nombre) {
    @if $nombre == instagram {
        color: blue;
    }@else if $nombre == facebook {
        color: violet;
    }@else if $nombre == instagram {
        color: black;
    }@else {
        color: green
    }
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

header {
  background-color: #344A53;
  width: 100%;
  height: 160px;
}
header .container__header-nav-img {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 160px;
  background-image: url(../assets/image/Artistic\ Cloud.jpg);
}
header .container__header-nav-img .header__img-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-top: 30px;
}
header .container__header-nav-img .header__img-logo .img__logo-beta {
  margin-top: 40px;
  width: 300px;
  height: auto;
}
header .container__header-nav-img .nav__container-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 25px;
}
header .container__header-nav-img .nav__container-links .nav__ul-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  margin-top: 50px;
}
header .container__header-nav-img .nav__container-links .nav__ul-links .ul__li-links {
  font-family: "Merriweather", serif;
  font-size: 1.8rem;
  font-weight: 700;
  list-style: none;
}
header .container__header-nav-img .nav__container-links .nav__ul-links .ul__li-links .li__a-links {
  text-decoration: none;
  color: #BDBDBD;
}
header .container__header-nav-img .nav__container-links .nav__ul-links .ul__li-links .li__a-links:hover {
  text-decoration: none;
  color: #0e6ba8;
}

@media screen and (max-width: 1023px) {
  header .container__header-nav-img .nav__container-links {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  header .container__header-nav-img .header__img-logo .img__logo-beta {
    width: 80%;
  }
}
main {
  background-color: color-background-sections;
}

/* Corresponde al main de la section de navegación */
main .section__main-servicios {
  width: 100%;
  height: auto;
}
main .section__main-servicios .div__section-servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .section__main-servicios .div__section-servicios .div__section-ul {
  width: 95%;
  height: auto;
}
main .section__main-servicios .div__section-servicios .div__section-ul .h1__section-servicios {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 5rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 900;
}
main .section__main-servicios .div__section-servicios .div__section-ul .ul__section-li {
  display: flex;
  flex-direction: row;
  gap: 12px;
  list-style: none;
  font-size: 1.8rem;
  font-family: "Merriweather", serif;
  font-weight: 400;
  margin-bottom: 10px;
  border-bottom: 2px solid #666;
}
main .section__main-servicios .div__section-servicios .div__section-ul .ul__section-li li a {
  text-decoration: none;
  color: #898989;
}
main .section__main-servicios .div__section-servicios .div__section-ul .ul__section-li li a span .material-symbols-outlined {
  color: #BDBDBD;
}
main .section__main-servicios .div__section-servicios .div__section-ul .ul__section-li li a:hover {
  text-decoration: none;
  color: #0e6ba8;
}

/*styles carrucel*/
main {
  /*styles gallery img*/
  /*section presentation*/
}
main .main__section_index .container__carrucel {
  width: 100%;
  height: 30vw;
  margin-top: 15px;
}
main .main__section_index .img__carrucel {
  width: 100%;
  height: 30vw;
}
main .container__img-index {
  width: 100%;
  height: auto;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .container__img-index .h2_text-gallery {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 5rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 900;
}
main .container__img-index .div___container-gallery {
  width: 90%;
  height: auto;
  display: grid;
  grid-template-areas: "primerafila" "segundafila";
}
main .container__img-index .div___container-gallery .div__gallery-img {
  grid-area: primerafila;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 0.5fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: 15px;
}
main .container__img-index .div___container-gallery .div__gallery-img .img__gallery-index {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
main .container__img-index .div___container-gallery .div__gallery-img .img-caja1 {
  grid-area: 1/1/3/2;
  height: 100%;
}
main .container__img-index .div___container-gallery .div__gallery-img .img-caja2 {
  grid-area: 1/2/2/4;
}
main .container__img-index .div___container-gallery .div__gallery-img .img-caja3 {
  grid-area: 2/2/3/3;
}
main .container__img-index .div___container-gallery .div__gallery-img .img-caja4 {
  grid-area: 2/3/3/4;
}
main .container__img-index .div___container-gallery .div__gallery-img .img-caja5 {
  grid-area: 1/4/3/5;
  height: 100%;
}
main .container__img-index .div___container-gallery .div__gallery_img2 {
  grid-area: segundafila;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  margin-top: 10px;
}
main .container__img-index .div___container-gallery .div__gallery_img2 .img__gallery-index {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
main .container__img-index .div___container-gallery .div__gallery_img2 .img-caja6 {
  grid-area: 1/1/2/2;
}
main .container__img-index .div___container-gallery .div__gallery_img2 .img-caja7 {
  grid-area: 1/2/2/3;
}
main .container__img-index .div___container-gallery .div__gallery_img2 .img-caja8 {
  grid-area: 1/3/2/4;
}
main .div__section-presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}
main .div__section-presentation .h2__section-presentation {
  margin-top: 40px;
  margin-bottom: 15px;
  font-size: 5rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
}
main .div__section-presentation .container__section-presentation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: space-around;
}
main .div__section-presentation .container__section-presentation .div__container_presentation {
  display: flex;
  flex-direction: column;
  width: 45%;
}
main .div__section-presentation .container__section-presentation .div__container_presentation .h3__section-presentation {
  margin-top: 15px;
  font-size: 2.4rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 900;
}
main .div__section-presentation .container__section-presentation .div__container_presentation .p__container-presentation {
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 50px;
  text-align: justify;
  font-size: 1.8rem;
  font-family: "Merriweather", serif;
  font-weight: 300;
}

@media screen and (max-width: 746px) {
  main .main__section_index .container__carrucel {
    height: 60vw;
  }
  main .main__section_index .img__carrucel {
    height: 60vw;
  }
  main .container__img-index .div___container-gallery {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  main .container__img-index .div___container-gallery .div__gallery-img {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 0.5fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  main .container__img-index .div___container-gallery .div__gallery-img .img-caja1 {
    grid-area: 1/1/3/2;
  }
  main .container__img-index .div___container-gallery .div__gallery-img .img-caja2 {
    grid-area: 1/2/2/3;
  }
  main .container__img-index .div___container-gallery .div__gallery-img .img-caja3 {
    grid-area: 2/2/3/3;
  }
  main .container__img-index .div___container-gallery .div__gallery-img .img-caja4 {
    grid-area: 3/1/5/3;
  }
  main .container__img-index .div___container-gallery .div__gallery-img .img-caja5 {
    display: none;
  }
  main .container__img-index .div___container-gallery .div__gallery_img2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  main .container__img-index .div___container-gallery .div__gallery_img2 .img-caja6 {
    display: none;
  }
  main .container__img-index .div___container-gallery .div__gallery_img2 .img-caja7 {
    grid-area: 1/1/2/2;
  }
  main .container__img-index .div___container-gallery .div__gallery_img2 .img-caja8 {
    grid-area: 1/2/2/3;
  }
  main .div__section-presentation .container__section-presentation {
    flex-direction: column;
    align-content: center;
  }
  main .div__section-presentation .container__section-presentation .div__container_presentation {
    width: 90%;
  }
}
@media screen and (max-width: 425px) {
  main .main__section_index .container__carrucel {
    height: 80vw;
  }
  main .main__section_index .img__carrucel {
    height: 80vw;
  }
}
main .div__section-servicios-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
main .div__section-servicios-cart .section__servicios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  justify-content: space-around;
  width: 90%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 110px;
}
main .div__section-servicios-cart .section__servicios .div_servicios {
  grid-area: 1/1/2/2;
  display: grid;
  width: 95%;
  height: auto;
  align-content: space-around;
}
main .div__section-servicios-cart .section__servicios .div_servicios .h2__servicios {
  font-size: 3.2rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
}
main .div__section-servicios-cart .section__servicios .div_servicios .p__servicios {
  margin-left: 5px;
  font-size: 1.8rem;
  font-family: "Merriweather", serif;
  font-weight: 300;
}
main .div__section-servicios-cart .section__servicios .div_servicios .btn__servicios_concer-mas {
  width: 60%;
  height: 60px;
  background-color: #181719;
  border: #325082;
  font-size: 1.8rem;
  font-family: "Merriweather", serif;
  font-weight: 900;
  color: #e6e8e6;
  box-shadow: 0 0 6px #181719;
}
main .div__section-servicios-cart .section__servicios .div_servicios .btn__servicios_concer-mas a {
  text-decoration: none;
  color: #898989;
}
main .div__section-servicios-cart .section__servicios .div_servicios .btn__servicios_concer-mas a:hover {
  color: #0e6ba8;
}
main .div__section-servicios-cart .section__servicios .div_servicios .btn__servicios_concer-mas:hover {
  background-color: #325082;
}
main .div__section-servicios-cart .section__servicios .div__servicios-img {
  grid-area: 1/2/2/3;
  display: grid;
  justify-items: end;
}
main .div__section-servicios-cart .section__servicios .div__servicios-img .img__servicios-cart {
  width: 100%;
  height: auto;
}
main .div__section-servicios-cart .section__servicios .div__servicios-img .div__cart-img {
  display: grid;
  position: absolute;
  margin-top: 21%;
  margin-right: 1%;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: repeat(2, 0.1fr);
  grid-column-gap: 10px;
  width: 30%;
  justify-items: start;
  background-color: #181719;
  box-shadow: 0 0 6px #181719;
}
main .div__section-servicios-cart .section__servicios .div__servicios-img .div__cart-img .div__cart_works {
  grid-area: 1/1/2/2;
  width: 100%;
  height: auto;
}
main .div__section-servicios-cart .section__servicios .div__servicios-img .div__cart-img .div__cart_works .img__cart {
  width: 90%;
  height: auto;
  margin-top: 6%;
  margin-left: 6%;
  border-radius: 50%;
}
main .div__section-servicios-cart .section__servicios .div__servicios-img .div__cart-img .div__cart-description--work {
  grid-area: 1/2/2/3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2%;
}
main .div__section-servicios-cart .section__servicios .div__servicios-img .div__cart-img .div__cart-description--work .h3__tittle-cart {
  font-size: 2.4rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: #e6e8e6;
  margin-bottom: 0;
}
main .div__section-servicios-cart .section__servicios .div__servicios-img .div__cart-img .div__cart-description--work .p__tittle-cart {
  margin-top: 5%;
  font-size: 1.4rem;
  font-family: "Merriweather", serif;
  font-weight: 300;
  color: #e6e8e6;
}
main .div__section-servicios-cart .section__servicios .div__servicios-img .div__cart-img .div__text-description--cart {
  grid-area: 2/1/3/3;
  padding: 2%;
}
main .div__section-servicios-cart .section__servicios .div__servicios-img .div__cart-img .div__text-description--cart .p__description-cart {
  margin-left: 2.5%;
  font-size: 1.4rem;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
  color: #e6e8e6;
  text-align: justify;
}
main .div__section-servicios-cart .inversa__section_servicios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
}
main .div__section-servicios-cart .inversa__section_servicios .inversa__div_servicios {
  grid-area: 1/2/2/3;
}
main .div__section-servicios-cart .inversa__section_servicios .inversa__div_servicios-img {
  grid-area: 1/1/2/2;
}
main .div__section-servicios-cart .inversa__section_servicios .inversa__div_servicios-img .inversa__div_cart-img {
  margin-right: 13.5%;
}
main .div__section-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}
main .div__section-map .h2_tittle-map {
  width: 95%;
  margin-top: 50px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 5rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 900;
}
main .div__section-map .iframe__map {
  width: 90%;
  height: 250px;
  margin-bottom: 50px;
}

@media screen and (max-width: 1224px) {
  main .div__section-servicios-cart .section__servicios .div__servicios-img .div__cart-img {
    width: 40%;
    margin-top: 19%;
    margin-right: 1%;
  }
  main .div__section-servicios-cart .inversa__section_servicios .inversa__div_servicios-img .inversa__div_cart-img {
    margin-right: 3.2%;
  }
}
@media screen and (max-width: 900px) {
  main .div__section-servicios-cart .section__servicios {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 0.5fr);
  }
  main .div__section-servicios-cart .section__servicios .div_servicios {
    grid-area: 1/1/2/2;
    width: 100%;
    margin-bottom: 30px;
  }
  main .div__section-servicios-cart .section__servicios .div__servicios-img {
    grid-area: 2/1/3/2;
  }
  main .div__section-servicios-cart .section__servicios .div__servicios-img .div__cart-img {
    width: 65%;
    margin-top: 41%;
    margin-right: 2%;
  }
}
@media screen and (max-width: 500px) {
  main .div__section-servicios-cart .section__servicios {
    width: 94.5%;
    margin-top: 60px;
    margin-bottom: 100px;
  }
  main .div__section-servicios-cart .section__servicios .div_servicios {
    margin-bottom: 30px;
  }
  main .div__section-servicios-cart .section__servicios .div__servicios-img .div__cart-img {
    width: 85%;
    margin-top: 43%;
    margin-right: 2%;
  }
  main .div__section-map .h2_tittle-map {
    margin-top: 75px;
  }
}
main .div__container_products,
main .a__categorias_products,
main .div__cards_products,
main .p__products_information {
  font-size: 1.8rem;
  font-family: "Merriweather", serif;
  font-weight: 400;
  text-align: justify;
}
main div .p__products_information {
  font-size: 1.4rem;
}
main .div__container_products .a__categorias_products {
  font-size: 3.2rem;
}
main .div__container_products .nav-link {
  color: #00487c;
}
main .div__container_products .nav-link:hover {
  color: #027bce;
}
main .div__cards_products .img__card_productos {
  height: 450px;
}

@media screen and (max-width: 1224px) {
  main .div__cards_products .img__card_productos {
    height: 350px;
  }
}
@media screen and (max-width: 568px) {
  main .div__cards_products .img__card_productos {
    height: auto;
  }
}
.div__container_section-historia {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container__section-hitoria {
  width: 90%;
}

.h2__historia-bienvenida {
  margin-top: 40px;
  text-align: center;
  font-size: 10rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: #0082FF;
}

hr {
  width: 30%;
  margin: auto;
  border: 3px solid #181719;
  opacity: 1;
  box-shadow: 0 0 6px #181719;
  border-radius: 50%;
}

.p__historias-bienvenida {
  margin-top: 50px;
  text-align: center;
  font-size: 2.4rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: #38302e;
}

.div__container-img-historia {
  display: grid;
  margin-top: 110px;
  width: 100%;
  justify-items: center;
}

.div__container__historia-img {
  width: 65%;
  height: 80%;
  justify-items: center;
  border: 3px solid #181719;
  box-shadow: 0 0 6px #181719;
  background: #181719;
}

.img__picture-historia {
  width: 100%;
  height: 100%;
  padding: 1%;
}

.h__section_principios-historia {
  margin-bottom: 20px;
  font-size: 5rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: #38302e;
  text-align: center;
}

.p__section_principios-historia {
  margin-top: 30px;
  padding: 0 10% 0 10%;
  font-size: 2.4rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: #38302e;
  text-align: center;
}

main {
  background: #FCF8FF;
}
main .container__form_contacto {
  margin-top: 20px;
  margin-bottom: 30px;
}
main .container__form_contacto legend {
  font-size: 2.4rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
}
main .container__form_contacto .header {
  color: #36A0FF;
  font-size: 25px;
  padding: 10px;
}
main .container__form_contacto .bigicon {
  font-size: 25px;
  color: #36A0FF;
}
main .container__form_contacto .form-group {
  margin-top: 15px;
  margin-bottom: 10px;
  justify-content: center;
}
main .container__form_contacto input::-moz-placeholder {
  font-size: 1.2rem;
  font-family: "Merriweather", serif;
  font-style: italic;
}
main .container__form_contacto input,
main .container__form_contacto textarea,
main .container__form_contacto input::placeholder {
  font-size: 1.2rem;
  font-family: "Merriweather", serif;
  font-style: italic;
}
main .container__form_contacto button {
  font-size: 1.4rem;
  font-family: "Merriweather", serif;
}
main div .text__center .h2__form_horario {
  font-size: 2.4rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
}
main div .text__center p {
  font-size: 1.4rem;
  font-family: "Merriweather", serif;
  font-weight: 400;
}
main footer {
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  main .container__form_contacto {
    width: 90% !important;
  }
  main div .CajaDiv__contacto-textForm {
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
  }
}
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #4B4453;
  align-items: center;
}
footer .container__footer {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 60px;
  margin-top: 15px;
}
footer .container__footer .footer__ul-li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  height: auto;
  align-items: center;
}
footer .container__footer .footer__ul-li .footer__li_a-links {
  list-style: none;
}
footer .container__footer .footer__ul-li .footer__li_a-links .li__a-links {
  text-decoration: none;
}
footer .container__footer .footer__ul-li .footer__li_a-links .li__a-links .fa-brands, footer .container__footer .footer__ul-li .footer__li_a-links .li__a-links .fab {
  font-size: 4.5rem;
  color: #f0ffff;
}
footer .container__footer .footer__ul-li .footer__li_a-links .li__a-links .fa-brands:hover {
  color: #FF230E;
  font-size: 6rem;
}
footer .container__footer .footer__ul-li .footer__li_a-links .li__a-links:hover {
  text-decoration: none;
}
footer .footer__p-margintop {
  margin-top: 45px;
}
footer .footer__p {
  margin-bottom: 0.5%;
  font-size: 1.4rem;
  font-family: "Merriweather", serif;
  font-weight: 400;
  color: #e6e8e6;
}

@media screen and (max-width: 460px) {
  footer .container__footer {
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */